button:active{
    background:rgb(221, 6, 52);
}

button:focus{
    background:rgb(17, 142, 13);
}


.btn{
    background: #ccc;
} .btn:focus{
    background: red;
}

td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}