.boite1-1
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite1-2
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite1-3
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite1-4
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite1-5
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite1-6
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/



.boite2-1
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite2-2
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite2-3
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite2-4
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite2-5
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite2-6
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite3-1
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite3-2
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite3-3
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite3-4
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite3-5
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite3-6
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/


.boite4-1
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite4-2
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite4-3
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite4-4
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite4-5
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite4-6
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/


.boite5-1
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite5-2
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite5-3
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite5-4
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite5-5
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite5-6
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/


.boite6-1
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite6-2
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite6-3
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite6-4
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite6-5
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite6-6
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/



.boite7-1
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite7-2
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite7-3
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite7-4
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite7-5
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/

.boite7-6
{
width:100px;
height:30px;
margin:auto;
background-color:rgba(0, 0, 0, 0.351);
}

/*--------------------------------------------------------------------------*/


td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}